{# templates/Entites/entites.twig #}

<p>aaaaddzdfee</p>
{#{% for atelier in ateliers %}#}
{#    #}{# Render each atelier as needed #}
{#    <div>#}
{#        {{ atelier.property1 }}#}
{#        {{ atelier.property2 }}#}
{#        <!-- ... -->#}
{#    </div>#}
{#{% endfor %}#}
